name: Terraform CI/CD Pipeline

on:
  push:
    branches: [develop, production]

jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
      contents: read # Allows the workflow to read repository content.
      packages: read # Allows the workflow to pull packages from GitHub Packages (GHCR).

    env:
      GITHUB_REGISTRY_USER: ${{secrets.GHRC_USER}}
      GITHUB_REGISTRY_TOKEN: ${{secrets.GHRC_TOKEN}}
      TF_VAR_env: ${{ github.ref_name }}

      AWS_ACCESS_KEY_ID: |-
        ${{ case(
          github.ref_name == 'production', secrets.AWS_ACCESS_KEY_ID_PROD,
          github.ref_name == 'staging', secrets.AWS_ACCESS_KEY_ID_STAGING,
          github.ref_name == 'develop', secrets.AWS_ACCESS_KEY_ID_DEV,
          'unknown'
        ) }}
      AWS_SECRET_ACCESS_KEY: |-
        ${{ case(
          github.ref_name == 'production', secrets.AWS_SECRET_ACCESS_KEY_PROD,
          github.ref_name == 'staging', secrets.AWS_SECRET_ACCESS_KEY_STAGING,
          github.ref_name == 'develop', secrets.AWS_SECRET_ACCESS_KEY_DEV,
          'unknown'
        ) }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Update the settings.yml file
        run: cat deploy/settings.xml > $HOME/.m2/settings.xml

      - name: Install & test
        run: mvn clean install

      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.11.2

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Plan
        run: terraform plan -out=tfplan
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
        working-directory: terraform