name: Terraform CI/CD Pipeline

on:
  push:
    branches: [production]

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    defaults:
      run:
        working-directory: terraform

    env:
      GITHUB_REGISTRY_USER: ${{ secrets.GHRC_USER }}
      GITHUB_REGISTRY_TOKEN: ${{ secrets.GHRC_TOKEN }}

      TF_VAR_env: ${{ github.ref_name }}

      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_PROD }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_PROD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 25
        uses: actions/setup-java@v4
        with:
          java-version: "25"
          distribution: "temurin"
          cache: maven

      - name: Maven settings.xml
        run: |
          mkdir -p "$HOME/.m2"
          cat deploy/settings.xml > "$HOME/.m2/settings.xml"
        working-directory: .

      - name: Install & test
        run: mvn clean install
        working-directory: .

      # Read pom.xml version once, then export to $GITHUB_ENV
      # so we DON'T repeat TF_VAR_docker_image in multiple steps
      - name: Export Maven version to Terraform (TF_VAR_docker_image)
        run: |
          VERSION=$(mvn -q -DforceStdout help:evaluate -Dexpression=project.version)
          IMAGE="nntan041299/bakery-user-service:$VERSION"

          echo "TF_VAR_docker_image=$IMAGE" >> "$GITHUB_ENV"

          echo "Maven version: $VERSION"
          echo "Docker image: $IMAGE"
        working-directory: .

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.11.2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan