name: Build and Test On PR

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "25"
          distribution: "temurin"
          cache: maven
          server-id: bakery-parent-lib                
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN
      - run: mvn -B verify
